body {
    background-color: rgb(250, 250, 231);
 }

 .title, p {
    font-family: Garamond, Georgia, sans-serif;
    color: rgb(32, 32, 32);
 }

 .main.title {
    text-align: center;
 }

 li button {
    font-weight: 600;
    text-decoration: underline;
    background-color: rgb(250, 250, 231);
    font-size: 20px;
    font-family: Garamond, Georgia, sans-serif;
    color: rgb(32, 32, 32);
    list-style: inside;
    border: 0ch;
 }
 #back {
   font-size: 22px;
   font-style: italic;
 }

 .ingredients, #directions {
   font-family: Garamond, Georgia, sans-serif;
   color: rgb(32, 32, 32);
   font-style: italic;
 }


